@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Recipe>;

<h2>Recipes</h2>

@foreach (Recipe recipe in Model)
{
  <p>@Html.ActionLink($"{recipe.Description}", "Details", "Recipes", new { id = recipe.RecipeId})</p>;
}

<p>@Html.ActionLink("Add Recipe", "Create", "Recipes")</p>