@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Recipe>;

<h2>Recipes for @User.Identity.Name</h2>

@if(Model.Any())
{
  @foreach (Recipe recipe in Model)
  {
    <p>@Html.ActionLink($"{recipe.Description}", "Details", "Recipes", new { id = recipe.RecipeId})</p>;
  }
}
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add Recipe", "Create", "Recipes")</p>