
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
    <li role="presentation">@Html.ActionLink("Recipes", "Index", "Recipes")</li>
  </ul>