
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
    <li role="presentation">@Html.ActionLink("Recipes", "Index", "Recipes")</li>
    <li role="presentation">@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li role="presentation">@Html.ActionLink("Ingredients", "Index", "Ingredients")</li>
  </ul>