@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Category

<h3>@Model.Name-type Recipes</h3>

@foreach (CategoryIngredientRecipe join in Model.Join)
{
  <p>@Html.ActionLink($"{join.Recipe.Description}", "Details", "Recipes", new {id = join.Recipe.RecipeId})</p>
}

<p>@Html.ActionLink("Delete Category", "Delete", "Categories", new {id = @Model.CategoryId})</p>

